# BEGIN LSCACHE
# ... (mantén la configuración de LiteSpeed Cache aquí)
# END LSCACHE

# Allow WordPress API and Elementor requests
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^wp-json/(.*)?$ /giacomo/index.php?rest_route=/$1 [L,QSA]
RewriteRule ^wp-content/plugins/elementor/.*\.php$ - [L]
</IfModule>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /giacomo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /giacomo/index.php [L]
</IfModule>
# END WordPress

